[Unit]
Description=i.babikov-sandbox service
After=network.target

[Service]
User=root
Group=root
ExecStart=/bin/sh /opt/i.babikov-sandbox/sandbox/runserver.sh

[Install]
WantedBy=multi-user.target