{% extends "news/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.first_name }} {{ user.last_name }}</p>
            <p class="text-secondary">{{ user.email }}</p>
        </div>
        </div>
        <!-- FORM HERE -->
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Save</button>
            </div>
        </form>
    </div>

    <h1 class="mb-3">Total Posts Count: {{ page_obj.paginator.count }}</h1>
    {% for post in page_obj %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <img src="{{ post.image.url }}"></img>
                    <br>
                    <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                    <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                </div>

                {% if post.author == user %}
                <div>
                    <a class="btn btn-secondary btn-sm mb-1 mt-1" href="{% url 'post-update' post.id %}">Update</a>
                    <a class="btn btn-danger btn-sm mb-1 mt-1" href="{% url 'post-delete' post.id %}">Delete</a>
                </div>
                {% endif %}

                <!-- post.id is passed as parameter to news/urls.py -->
                <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
                <!-- COMMENTS SECTION -->
                <a class="btn btn-primary my-1" href="#">Comments</a>
            </div>
        </article>

    {% endfor %}

    <!-- PAGINATION LOGIC -->
    {% if page_obj.has_previous %} <!-- page objects which `view` passed into the template -->
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
{% endblock content %}