{% extends "news/base.html" %}
{% load humanize %}
{% block content %}
<article class="media content-section">
    <!-- BS4 CLASS rounded-circle-->
    <img class="rounded-cirlce article-img" src="{{ object.author.profile.image.url }}">

    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted|naturaltime }}</small>
            {% if object.author == user %}
                <div>
                    <a class="btn btn-secondary btn-sm mb-1 mt-1" href="{% url 'comment-update' object.post_id object.id %}">Update</a>
                    <a class="btn btn-danger btn-sm mb-1 mt-1" href="{% url 'comment-delete' object.post_id object.id %}">Delete</a>
                </div>
            {% endif %}
        </div>
        <p class="article-content">{{ object.content }}</p>
    </div>
</article>
{% endblock content %}