{% extends "news/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <!-- SET ENCTYPE to allow uploading images -->
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- bootstrap class `form-group -->
            <fieldset class="form-group">
                <!-- BOOTSTRAP CLASS, mb = margin bottom -->
                <legend class="border-bottom mb-4">Place your news!</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Post</button>
            </div>
        </form>
    </div>
{% endblock content %}